body
  nav.navbar.navbar-default(data-hook="navigation", role="navigation")
    div.container
      div.navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') QRobot
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Profile
          li
            a(href="/question") Questions
          li
            a(href="/objects") Objects
  div.container-fluid(data-hook="page")
