div.row
  div.col-md-6.col-md-offset-3.m-t-xl
    div.well
      form.form-horizontal
        legend.text-center Tell us what you think
        div(data-hook="alert")
        fieldset
          div.form-group
            div.col-lg-12
              textarea.form-control(rows="6", tabindex="1", autofocus)
      a(data-hook="submit") Submit
