div.row
  div.col-md-6.col-md-offset-3
    h1 Hi, #[span(data-hook="username")]
    div.row(data-hook="flash")
    div.row
      div.col-lg-12
        div(data-hook="questions")
    div.row
      div.col-lg-12
        div(data-hook="confirm")
    div.row
      div.col-lg-12
        div(data-hook="feedback")
