main
  div.row
    div.col-sm-6.col-sm-offset-3
      div.well(data-hook="form")
        form.form-horizontal
          fieldset
          div.form-group
            div.col-sm-9.col-sm-offset-3
              a.btn.btn-primary(tabindex=3, data-hook="login") Login
              a.btn-align.pull-right(href="/signup") New here? Sign up!
