main
  div.center-block
    div.well(data-hook="form")
      form.form-horizontal
        legend.text-center Who are you?
        div(data-hook="alert")
        fieldset
      a(data-hook="login")
      div.text-center.m-t-sm
        a(href="#") Forgot password?
    p.text-muted.text-center Don't have an account? &nbsp;
      a(href="/signup") Sign up
