main
  div.row
    div.col-md-6
      div.panel.panel-default
        div.panel-body
          p
          | This page lists all the objects that the robot encountered and modelled
          | during the deployment. The objects are split into two lists depending on
          | whether they have been assigned a label or not.
          p
          | Click on a table row to preview the object model in a 3D viewer on the right.
      div.row
        div.col-md-12
          ul.nav.nav-pills.nav-justified(data-hook="mode-pills")
            li#all
              a(href="/objects/all") All
            li#labelled
              a(href="/objects/labelled") Labelled
            li#unlabelled
              a(href="/objects/unlabelled") Unlabelled
      div.row
        div.col-md-12
          table.table.table-condensed
            thead
              tr
                th Id
                th Label
            tbody
    div.col-md-6
      canvas(data-hook="viewer")
