div.row
  div.col-md-6.col-md-offset-3
    h1 Hi, #[span(data-hook="username")]
    div.row(data-hook="confirm")
    div.row(data-hook="questions")
    div.row
      div.col-lg-12
        div.widget
          div.row
            div.col-xs-3
              i.fa.fa-comment.fa-5x
            div.col-xs-9.text-right
              h4 Feedback
              span Click #[a.widget-link(href="#feedback") here] to tell us what you think

