div.well.well-sm
  h3 #[span(data-hook="welcome") Welcome to QRobot!] Please confirm your e-mail address.
  p.text-center If you did not receive a confirmation e-mail, please check your spam folder or request #[a(href="#resend") resend].
