div.col-lg-12
  div.widget.widget-warning
    div.row
      div.col-xs-3
        i.fa.fa-envelope.fa-5x
      div.col-xs-9.text-right
        h4 Please confirm your e-mail address
        span If you did not receive a confirmation e-mail, please check your spam folder or request #[a.widget-link(href="#resend") resend]
