main
  div.center-block
    div.well(data-hook="form")
      form.form-horizontal
        legend.text-center Create an account
        div(data-hook="alert")
        fieldset
      a(data-hook="signup")
    p.text-muted.text-center Already have an account? &nbsp;
      a(href="/login", tabindex=5) Log in
