@import "_variables.scss";

// To align free text with button text that are at the same line
.btn-align {
  padding: ($padding-base-vertical + 2) $padding-base-horizontal $padding-base-vertical;
}

// Occupy all horizontal space
.full-width {
  width: 100% !important;
}

.text-bold {
  font-weight: bold;
}

// Margins

$margin:     15px !default;
$margin-sm:  10px !default;
$margin-md:  20px !default;
$margin-lg:  30px !default;
$margin-xl:  40px !default;

.m-b {
  margin-bottom: $margin;
}

.m-t-sm {
  margin-top: $margin-sm;
}

.m-t-md {
  margin-top: $margin-md;
}

.m-t-lg {
  margin-top: $margin-lg;
}

.m-t-xl {
  margin-top: $margin-xl;
}

.navbar-nav {
  text-transform: uppercase;
}

// For login/signup pages
.center-block {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $margin-xl;
}

.navbar-toggle {
  float: left;
  margin-left: $navbar-padding-horizontal;
  margin-right: 0px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: $screen-lg-min;
}

@media (min-width: $screen-xs-min) {
  .navbar-header {
    display: none;
  }

  .navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

@media (min-width: $screen-xs-min) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal.fade .modal-dialog {
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;
  }

  .modal.fade.in .modal-dialog {
    transform: scale(1);
    opacity: 1;
  }
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.task-list {
  zoom: 1.5;
  margin-bottom: 0px;
  li:not(:last-child) {
    margin-bottom: 5px;
  }
}

.flash {
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: $font-size-h4
}

.widget {
  border: 1px solid $navbar-default-border;
  border-radius: $border-radius-base;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;

  a {
    font-weight: normal;
    text-decoration: underline;
    color: $panel-default-text;
  }

  h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: right;
    font-weight: bold;
  }

  &-success {
    background-color: $brand-success;
    color: $panel-success-text;
    h4, a {
      color: $panel-success-text;
    }
  }

  &-warning {
    background-color: $brand-warning;
    color: $panel-warning-text;
    h4, a {
      color: $panel-warning-text;
    }
  }

  &-default {
    background-color: $gray-lighter;
    color: $panel-default-text;
    h4, a {
      color: $panel-default-text;
    }
  }
}
